<h1>Welcome to Speed Racer!</h1>
  <p>Sign in below to start the game:</p>

  <table>
    <tr>

    <div id="loginpanel">
    <form action="/log_in" id="log_in" method="post">
      <input type="text" name="player1" placeholder="First Player Name"><br>
      <input type="text" name="player2" value="" placeholder="Second Player Name" ><br>
      <input type="submit" value="Sign Up">
    </form>